#
#  template for switch ports
#
#  A line starting with either a # or a ! is considered a comment and ignored
!
!  hostname {{hostname}}
!
#  Configuration build for {{inventory_hostname}}
#
#  Issue any global or other interface commands here
#
clock timezone est -5 0
clock summer-time edt 2 Sun Mar 02:00 1 Sun Nov 02:00 60
#
interface Vlan1
 shutdown
#
#  Now loop through the interfaces and reference the CSV header names as variables
#
{% for row in spreadsheet %}
interface {{row.SourcePort}}
  speed {{row.Speed}}
  description peer: {{row.DestinationDeviceHostname}}: {{row.DestinationPort}} {{row.Note}}
  switchport
  switchport access vlan {{row.VLAN}}
{% endfor %}
end
# 
# You should uncomment the following if you want the changes to survive a reboot
#
# copy running-config startup-config
#
send * Configured by {{ansible_ssh_user}} from Ansible role {{role}} on {{ansible_date_time.date}} {{ansible_date_time.time}}
